---
layout: default
---
{% assign subrepo = '/Weeb-Themes' %}

<script type="text/javascript">
  $(window).bind("load", function() {
    $("#rss-link").attr("href", "{{ site.baseurl }}{{ subrepo }}/feed.xml");
  })
</script>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">    
      <span class="post-date"><h4>{{ post.date | date: "%B %e, %Y" }}</h4></span>
      <h3><a href="{{ site.baseurl }}{{ subrepo }}{{ post.url }}">{{ post.title }}</a></h3>
          
      <div class="entry" style="max-height: 350px; overflow: hidden;">
        {{ post.content | truncatewords:100}}
      </div>
      <div class="tagPanel">
        <span>Tags: </span>
        {% assign sorted_tags = (post.tags | sort) %}
        {% for t in sorted_tags %}
        <span class="tag"><a href="{{ site.url }}{{ subrepo }}/tags/?tag={{ t }}">{{ t }}</a></span>
        {% endfor%}
      </div>
      <span><a href="{{ site.baseurl }}{{ subrepo }}{{ post.url }}" class="read-more">Read More</a></span>
    </article>
    <br>
  {% endfor %}
</div>
