[SddmGreeterTheme]
Name=SAO Grasslands
Description=SAO Grasslands Theme
Author=Jurassicplayer
Copyright=(c) 2014, Jurassicplayer
License=None
Type=sddm-theme
Version=1.0
Website=https://github.com/jurassicplayer/Weeaboository
Screenshot=screenshot.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=jurassicplayer75@gmail.com
Theme-Id=sao-grasslands
Theme-API=2.0
